body{
    color:white;
    background-color: black;
}
h1{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 40pt;
}
h2{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30pt;
}
h3{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20pt;
}
img{
    padding-left: 370pt;
    padding-right: 300pt;
}
p{
    text-indent: 30pt;
    padding-left: 300pt;
    padding-right: 300pt;
    font-size: 15pt;
}
.mencao{
    text-indent: 3pt;
    padding-left: 500pt;
    padding-right: 500pt;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
