body{
    background-color: black;
}
h1{
    text-align: center;
    color:white
}
h2{
    text-align: center;
    color:white
}
h3{
    text-align: center;
    color:white
}
p{
    
    text-indent: 30pt;
    font-size: 15pt;
    text-align: justify;
    color:white
}
.p-cent{
    max-width : 1600px;
    margin : 0 auto;
}
.card{
    background-color: purple;
}
img{
    margin-top: 30pt;
    margin-bottom: 30pt;
    align-self: center;
}

